<h1>New User</h1>
<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name" type="text" name="name" id="name" /><br><br>
  <input placeholder="image url" type="text" name="image" id="image" /><br><br>
  <p>  
  <label>Skills:</label>
  <select name="skills">    
    <option value="html">html</option>
    <option value="css">Css</option>
    <option value="javascript" selected="selected">Javascript</option>    
  </select>
</p>
  <input type="submit" value="Add User" />
</p>

</form>

<a class="link" href="/users">nevermind</a>