<h1>{{title}}</h1>
<p>Tag Line XXXXXXXXXXXXXX</p>
<div> <img src="{{img1}}" alt="users" name="users" class="home"></div>
<div> <img src="{{img2}}" alt="projects" name="projects" class="home"></div>

<button class='btn-default'> button </button>